@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap");

@layer components {
  .text-white {
    color: #fff;
  }
}

/* tailwind class */

.container {
  @apply max-w-[1298px] mx-auto px-[20px];
}
.center {
  @apply flex justify-center items-center;
}

/* Text */
.text-link {
  @apply text-[12px] sm:text-[13px] lg:text-[14px] text-[#343];
}
.text-base {
  @apply text-[14px] sm:text-[15px] md:text-[16px] leading-[143%] text-justify text-[#343];
}
.info-text {
  @apply text-[30px]  text-[#fff];
}
/* Header */
.heading-primary {
  @apply text-[28px] sm:text-[36px] md:text-[42] leading-[34px]  md:text-[43px] lg:text-[48px] lg:leading-[49px] text-headingPrimary font-[700] mb-[2.5rem];
}
.heading-secondary {
  /* @apply text-[32px] leading-[38px]  md:text-[43px] lg:text-[48px] lg:leading-[53px] text-headingPrimary font-[700] mb-[2rem]; */
  @apply text-[18px] sm:text-[20px] md:text-[24px] lg:text-[30px] xl:text-[36px] font-[700] text-headingPrimary mb-[1.8rem];
}
.heading-tertiary {
  @apply text-headingPrimary font-semibold text-[16px] md:text-[20px] lg:text-[24px] mb-[1rem];
}
.heading-four {
  @apply text-headingPrimary font-semibold text-[16px] lg:text-[18px];
}
/* button */
.btn {
  @apply bg-primary text-white rounded-[10px] px-[20px] py-[6px];
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Mulish", sans-serif;
}

/*  some raw css */
.placeholder-center::placeholder {
  text-align: center;
}

.custom-shadow {
  box-shadow: 0px 4px 30px rgba(89, 144, 236, 0.15);
  border-radius: 10px;
}

.bg-img {
  background: url("/assets/info-bg.png") center center / cover no-repeat;
  background-color: #241836; /* Replace with your desired color */
}

.bg-heroimg-3 {
  background-image: url("/assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-cut-2 {
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/*  */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide-active {
  transform: scale(1.1) !important;
  box-shadow: 0px 4px 30px rgba(89, 144, 236, 0.15);
}
.content {
  position: absolute;
  top: 420px;
  left: 0px;
  display: none;
  z-index: 100 !important;
  width: 130%;
}
.swiper-slide-active .content {
  display: block;
}
.swiper-slide-prev,
.swiper-slide-next {
  transform: scale(0.8) !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.swiper-pagination-bullet {
  opacity: 0.7 !important;
}
.swiper-pagination-bullet-active {
  transform: scale(1.4);
  transition: all 0.3s;
  opacity: 1 !important;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  transform: translateY(-280px);
}

.swiper,
.swiper-container {
  padding-bottom: 43rem !important;
}
